USE [master]
GO
/****** Object:  Database [POSWEB]    Script Date: 19/02/2026 19:00:49 ******/
CREATE DATABASE [POSWEB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POSWEB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POSWEB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POSWEB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POSWEB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POSWEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POSWEB]
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Venta]    Script Date: 19/02/2026 19:00:49 ******/
CREATE TYPE [dbo].[EDetalle_Venta] AS TABLE(
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[Total] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NULL,
	[Descripcion] [varchar](500) NULL,
	[IdMarca] [int] NULL,
	[IdCategoria] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[RutaImagen] [varchar](100) NULL,
	[NombreImagen] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerShoppingCart]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Function [dbo].[GetCustomerShoppingCart](
@idcliente int
)
Returns Table
As
Return (
	Select P.IdProducto, M.Descripcion[DesMarca], P.Nombre, P.Precio, C.Cantidad, P.RutaImagen, P.NombreImagen
	From Carrito C
	Inner Join Producto P On C.IdProducto = P.IdProducto
	Inner Join Marca M On P.IdMarca = M.IdMarca
	Where C.IdCliente = @idcliente
)
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](150) NULL,
	[Restablecer] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [varchar](2) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[IdDistrito] [varchar](6) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[IdMunicipio] [varchar](4) NOT NULL,
	[IdDepartamento] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [varchar](4) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[IdDepartamento] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](150) NULL,
	[Restablecer] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[CantidadProductos] [int] NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[Contacto] [varchar](50) NULL,
	[IdDistrito] [varchar](10) NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](500) NULL,
	[IdTransaccion] [varchar](50) NULL,
	[FechaVenta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Restablecer]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Marca] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Marca] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Restablecer]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([IdMarca])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
/****** Object:  StoredProcedure [dbo].[AddBrand]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[AddBrand] (
@Descripcion varchar(100),
@Activo bit,
@Mensaje varchar(500) output,
@Resultado int output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Marca Where Descripcion = @Descripcion)
	Begin
		Insert Into Marca(Descripcion, Activo)
			Values(@Descripcion, @Activo)

		Set @Resultado = SCOPE_IDENTITY()
	End
	Else
		Set @Mensaje = 'La Marca ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[AddCategory] (
@Descripcion varchar(100),
@Activo bit,
@Mensaje varchar(500) output,
@Resultado int output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Categoria Where Descripcion = @Descripcion)
	Begin
		Insert Into Categoria(Descripcion, Activo)
			Values(@Descripcion, @Activo)

		Set @Resultado = SCOPE_IDENTITY()
	End
	Else
		Set @Mensaje = 'La Categoria ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[AddNewCustomer]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AddNewCustomer](
@Nombres varchar(100),
@Apellidos varchar(100),
@Correo varchar(100),
@Clave varchar(100),
@Mensaje varchar(500) output,
@Resultado int output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Cliente Where Correo = @Correo)
	Begin
		Insert Into Cliente(Nombres, Apellidos, Correo, Clave, Restablecer)
			Values(@Nombres, @Apellidos, @Correo, @Clave, 0)

		Set @Resultado = SCOPE_IDENTITY()
	End
	Else
		Set @Mensaje = 'El correo del Cliente ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[AddNewProduct]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[AddNewProduct] (
@Nombre varchar(100),
@Descripcion varchar(100),
@IdMarca int,
@IdCategoria int,
@Precio decimal(10,2),
@Stock int,
@Activo bit,
@Mensaje varchar(500) output,
@Resultado int output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Producto Where Nombre = @Nombre)
	Begin
		Insert Into Producto(Nombre, Descripcion, IdMarca, IdCategoria, Precio, Stock,  Activo)
			Values(@Nombre, @Descripcion, @IdMarca, @IdCategoria, @Precio, @Stock, @Activo)
			select * from Producto
		Set @Resultado = SCOPE_IDENTITY()
	End
	Else
		Set @Mensaje = 'El Producto ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[AddNewUser] (
@Nombres varchar(100),
@Apellidos varchar(100),
@Correo varchar(100),
@Clave varchar(100),
@Activo bit,
@Mensaje varchar(500) output,
@Resultado int output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Usuario Where Correo = @Correo)
	Begin
		Insert Into Usuario(Nombres, Apellidos, Correo, Clave, Activo)
			Values(@Nombres, @Apellidos, @Correo, @Clave, @Activo)

		Set @Resultado = SCOPE_IDENTITY()
	End
	Else
		Set @Mensaje = 'El correo del Usuario ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[DeleteBrand]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[DeleteBrand] (
@IdMarca int,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Marca mar Inner Join Producto pro ON mar.IdMarca = pro.IdCategoria Where pro.IdCategoria = @IdMarca)
	Begin
		Delete Top(1) Marca Where IdMarca = @IdMarca

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'La Marca se encuentra asignada a un producto'
End
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[DeleteCategory] (
@IdCategoria int,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Categoria cat Inner Join Producto pro ON cat.IdCategoria = pro.IdCategoria Where pro.IdCategoria = @IdCategoria)
	Begin
		Delete Top(1) Categoria Where IdCategoria = @IdCategoria

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'La Categoria se encuentra asignada a un producto'
End

GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Proc [dbo].[DeleteProduct] (
@IdProducto int,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Producto pro Inner Join DetalleVenta det ON pro.IdProducto = det.IdProducto Where pro.IdProducto = @IdProducto)
	Begin
		Delete Top(1) Producto Where IdProducto = @IdProducto

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'El Producto ya se encuentra dentro de una Venta.'
End
GO
/****** Object:  StoredProcedure [dbo].[DeleteShopingCart]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[DeleteShopingCart](
@IdCliente int,
@IdProducto int,
@Resultado bit output
)
As
Begin

	Set @Resultado = 1
	Declare @CantidadProducto int = ( Select Cantidad From Carrito Where IdCliente = @IdCliente And IdProducto = @IdProducto)

	Begin Try
			Begin Transaction Operacion

				Update Producto Set Stock = Stock + @CantidadProducto Where IdProducto = @IdProducto
				Delete Top(1) From Carrito Where IdCliente = @IdCliente And IdProducto = @IdProducto

			Commit Transaction Operacion
	End Try
	Begin Catch

			Set @Resultado = 0
			Rollback Transaction Operacion

	End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[DeleteUser]
(
@IdUsuario int
)
As
Begin

Delete top(1) From Usuario Where IdUsuario = @IdUsuario;

End
GO
/****** Object:  StoredProcedure [dbo].[Dsh_ProductsLast3Months]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Dsh_ProductsLast3Months]
As
Begin

	Declare @FecMax DateTime;
	Declare @FecMin DateTime;

	Set @FecMax = getdate();
	Set @FecMin = DATEADD(MONTH,-2,@FecMax);
	Set @FecMin =  DATEADD(DAY,-(day(@FecMin)-1),@FecMin); 

	Select Top 5 Pro.Nombre [Producto], Sum(Det.Cantidad) [Cantidad]
			From DetalleVenta Det
			Inner Join Venta Enc On Det.IdVenta = Enc.IdVenta
			Inner Join Producto Pro On Det.IdProducto = Pro.IdProducto 
			Where FechaVenta between @FecMin and @FecMax
			Group by Pro.Nombre
			Order by [Cantidad] Desc
		
End
GO
/****** Object:  StoredProcedure [dbo].[Dsh_SalesLast3Months]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Dsh_SalesLast3Months]
As
Begin

	Declare @FecMax DateTime;
	Declare @FecMin DateTime;

	Set @FecMax = getdate();
	Set @FecMin = DATEADD(MONTH,-2,@FecMax);
	Set @FecMin =  DATEADD(DAY,-(day(@FecMin)-1),@FecMin); 

	Select Year(FechaVenta)[Ano], Month(FechaVenta)[Mesvalor], DATENAME(MONTH, FechaVenta) [Mes], Sum(MontoTotal) [Valor]
			From Venta
			Where FechaVenta between @FecMin and @FecMax
			Group by Year(FechaVenta), Month(FechaVenta), DATENAME(MONTH, FechaVenta)
			Order by Year(FechaVenta), Month(FechaVenta) Asc
		
End
GO
/****** Object:  StoredProcedure [dbo].[GetBrand]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[GetBrand]
As
Select IdMarca, Descripcion, Activo From Marca
GO
/****** Object:  StoredProcedure [dbo].[GetBrandXCategory]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Proc [dbo].[GetBrandXCategory](
@IdCategoria int
)
As
Begin
Select  Distinct Pro.IdMarca, Mar.Descripcion 
		From Producto Pro
		Inner Join Categoria Cat On Pro.IdCategoria = Cat.IdCategoria
		Inner Join Marca Mar On Pro.IdMarca = Mar.IdMarca And Mar.Activo = 1
		Where Cat.IdCategoria = IIF(@idcategoria = 0, Cat.IdCategoria,@idcategoria)
End
GO
/****** Object:  StoredProcedure [dbo].[GetCategory]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[GetCategory]
As
Select IdCategoria, Descripcion, Activo From Categoria
GO
/****** Object:  StoredProcedure [dbo].[GetCustomer]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetCustomer]
As
Select IdCliente, Nombres, Apellidos, Correo, Clave, Restablecer From Cliente

GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[GetProduct]
As
--  FechaCreacion
Select  Pro.IdProducto,	Pro.Nombre,	Pro.Descripcion, Pro.IdMarca, Mar.Descripcion [DesMarca], Pro.IdCategoria, Cat.Descripcion [DesCategoria], Pro.Precio, Pro.Stock, Pro.RutaImagen, Pro.NombreImagen, Pro.Activo
		From Producto Pro
		Inner Join Categoria Cat On Pro.IdCategoria = Cat.IdCategoria
		Inner Join Marca Mar On Pro.IdMarca = Mar.IdMarca
GO
/****** Object:  StoredProcedure [dbo].[GetUser]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetUser]
As
Select IdUsuario, Nombres, Apellidos, Correo, Clave, Restablecer, Activo From Usuario

GO
/****** Object:  StoredProcedure [dbo].[ResetCustomerPass]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[ResetCustomerPass] (
@IdCliente int,
@Pass varchar(150)
)
As
Begin
	Update Top(1) Cliente Set Clave = @Pass, Restablecer = 1 Where IdCliente = @IdCliente
End
GO
/****** Object:  StoredProcedure [dbo].[ResetUserPass]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[ResetUserPass] (
@IdUsuario int,
@Pass varchar(150)
)
As
Begin
	Update Top(1) Usuario Set Clave = @Pass, Restablecer = 1 Where IdUsuario = @IdUsuario
End
GO
/****** Object:  StoredProcedure [dbo].[ShopingCartSales]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[ShopingCartSales](
@IdCliente int,
@CantidadProductos int,
@MontoTotal decimal(18,2),
@Contacto varchar(100),
@Telefono varchar(10),
@Direccion varchar(100),
@IdTransaccion varchar(50),
@DetalleVenta [EDetalle_Venta] READONLY,
@Resultado bit output,
@Mensaje varchar(500) output
)
As
Begin

	Begin Try
		
		Declare @idventa int = 0
		Set @Resultado = 1
		Set @Mensaje = ''

		Begin Transaction RegistroVtas

			Insert Into Venta(IdCliente, CantidadProductos, MontoTotal, Contacto, Telefono, Direccion, IdTransaccion )
			values(@IdCliente, @CantidadProductos, @MontoTotal, @Contacto, @Telefono, @Direccion, @IdTransaccion )
			
			Set @idventa = SCOPE_IDENTITY()

			Insert Into DetalleVenta(IdVenta, IdProducto, Cantidad, Total )
			Select @idventa, IdProducto, Cantidad, Total  From @DetalleVenta

			Delete From Carrito Where IdCliente = @IdCliente

		Commit Transaction RegistroVtas

	End Try
	Begin Catch

		Set @Resultado = 1
		Set @Mensaje = ERROR_MESSAGE()
		Rollback Transaction RegistroVtas

	End Catch

End
GO
/****** Object:  StoredProcedure [dbo].[ShoppingCartExists]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[ShoppingCartExists](
@IdCliente int,
@IdProducto int,
@Resultado bit output
)
As
Begin

	If exists( Select * from Carrito Where IdCliente = @IdCliente And IdProducto = @IdProducto )
		Set @Resultado = 1
	else
		Set @Resultado = 0

End
GO
/****** Object:  StoredProcedure [dbo].[ShoppingCartQTY]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[ShoppingCartQTY]
(
@IdCliente int
)
As
Begin

	Select Count(*) From Carrito Where IdCliente = @IdCliente;

End


GO
/****** Object:  StoredProcedure [dbo].[ShoppingCartTrans]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ShoppingCartTrans](
@IdCliente int,
@IdProducto int,
@Sumar bit,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin

	Set @Resultado = 1
	set @Mensaje = ''

	Declare @ExisteCarrito bit = Iif( Exists( Select * From Carrito Where IdCliente = @IdCliente And IdProducto = @IdProducto ),1 ,0 )
	Declare	@StockProducto  int = (Select Stock From Producto Where IdProducto = @IdProducto )

	Begin Try
		
		Begin Transaction Operacion

		If (@Sumar = 1)

			If (@StockProducto >  0)
			Begin
				If (@ExisteCarrito = 1)
					Update Carrito Set Cantidad = Cantidad + 1 Where IdCliente = @IdCliente and IdProducto = @IdProducto
				Else
					insert into Carrito (IdCliente, IdProducto, Cantidad) Values (@IdCliente, @IdProducto, 1)

				Update Producto Set Stock = Stock - 1 Where IdProducto = @IdProducto
			End
			Else
			Begin
				Set @Resultado = 0
				Set @Mensaje = 'El producto no cuenta con Stock disponible'
			End

		Else 
		Begin
			Update Carrito Set Cantidad = Cantidad - 1 Where IdCliente = @IdCliente and IdProducto = @IdProducto
			Update Producto Set Stock = Stock + 1 Where IdProducto = @IdProducto
		End

		Commit Transaction Operacion

	End Try
	Begin Catch
		Set @Resultado = 0
		set @Mensaje = ERROR_MESSAGE()
		Rollback Transaction Operacion
	End Catch

End
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_Dashboard]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_Report_Dashboard]
as
begin
	select
			(Select count(*) From Cliente) [TotalCliente],
			(Select isnull(sum(cantidad),0) From DetalleVenta) [TotalVenta],
			(Select count(*) From Producto) [TotalProducto]
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Sales_Report]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[sp_Sales_Report](
@fechainicio varchar(10),
@fechafin varchar(10),
@idtransaccion varchar(50)
)
As
Begin

Set DateFormat dmy;

Select Convert(char(10), v.FechaVenta,103)[FechaVenta], CONCAT(c.Nombres,' ' ,c.Apellidos) [Cliente], p.Nombre [Producto], p.Precio, 
 dv.Cantidad, dv.Total, v.IdTransaccion
From DetalleVenta dv
Inner Join Venta v On dv.IdVenta = v.IdVenta
Inner Join Producto p On dv.IdProducto = p.IdProducto
Inner Join Cliente c On v.IdCliente = c.IdCliente
Where Convert(date,v.FechaVenta) Between  @fechainicio And @fechafin
	  And v.IdTransaccion = iif( @idtransaccion = '', v.IdTransaccion, @idtransaccion)

End
GO
/****** Object:  StoredProcedure [dbo].[UpdateBrand]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[UpdateBrand] (
@IdMarca int,
@Descripcion varchar(100),
@Activo bit,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Marca Where Descripcion = @Descripcion and IdMarca != @IdMarca)
	Begin
		Update Top(1) Marca Set Descripcion= @Descripcion, Activo = @Activo
			Where IdMarca = @IdMarca

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'La Marca ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateCategory]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[UpdateCategory] (
@IdCategoria int,
@Descripcion varchar(100),
@Activo bit,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Categoria Where Descripcion = @Descripcion and IdCategoria != @IdCategoria)
	Begin
		Update Top(1) Categoria Set Descripcion= @Descripcion, Activo = @Activo
			Where IdCategoria = @IdCategoria

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'La Categoria ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomerPass]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[UpdateCustomerPass] (
@IdCliente int,
@NewPassword varchar(150)
)
As
Begin
	Update Top(1) Cliente Set Clave = @NewPassword, Restablecer = 0 Where IdCliente = @IdCliente
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateImageProduct]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[UpdateImageProduct] (
@IdProducto int,
@RutaImagen varchar(100), 
@NombreImagen varchar(100)
)
As
Begin
	Update Top(1) Producto Set RutaImagen = @RutaImagen, NombreImagen = @NombreImagen Where IdProducto = @IdProducto
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[UpdateProduct] (
@IdProducto int,
@Nombre varchar(100),
@Descripcion varchar(100),
@IdMarca int,
@IdCategoria int,
@Precio decimal(10,2),
@Stock int,
@Activo bit,
@Mensaje varchar(500) output,
@Resultado int output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Producto Where Nombre = @Nombre and IdProducto != @IdProducto)
	Begin
		Update Top(1) Producto Set Nombre= @Nombre, 
		                           Descripcion = @Descripcion, 
								   IdMarca = @IdMarca, 
								   IdCategoria = @IdCategoria, 
								   Precio = @Precio, 
								   Stock = @Stock,
								   Activo = @Activo
			Where IdProducto = @IdProducto

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'El Producto ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[UpdateUser] (
@IdUsuario int,
@Nombres varchar(100),
@Apellidos varchar(100),
@Correo varchar(100),
@Activo bit,
@Mensaje varchar(500) output,
@Resultado bit output
)
As
Begin
	Set @Resultado = 0 
	If Not Exists(Select * from Usuario Where Correo = @Correo and IdUsuario != @IdUsuario)
	Begin
		Update Top(1) Usuario Set Nombres= @Nombres, Apellidos = @Apellidos, Correo = @Correo, Activo = @Activo
			Where IdUsuario = @IdUsuario

		Set @Resultado = 1
	End
	Else
		Set @Mensaje = 'El correo del Usuario ya existe'
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPass]    Script Date: 19/02/2026 19:00:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[UpdateUserPass] (
@IdUsuario int,
@NewPassword varchar(150)
)
As
Begin
	Update Top(1) Usuario Set Clave = @NewPassword, Restablecer = 0 Where IdUsuario = @IdUsuario
End
GO
USE [master]
GO
